/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { max-width:900px; margin:auto; padding:0 1rem; }

.code { flex-grow:1; height:500px; }
.sidebar, .code { margin-right:1rem;}

textarea, input, select {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

textarea, select { padding:1rem; height:100%; max-height:500px; }
textarea { width:100%; max-height:500px; white-space:nowrap; }
input { margin-bottom:0.5rem; padding:0.5rem;}
select, input { width:200px; }
select { font-size:0.7em; }