<div id="<%= dom_id comment %>">
  <p>
    <strong>Article:</strong>
    <%= comment.article_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= comment.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

</div>
